
.footer-container {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
 
  .footer-info,
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .footer-info-section,
  .footer-section {
    margin: 10px;
  }
  
  .footer-info-section h3,
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-info-section address,
  .footer-info-section ul,
  .footer-section ul {
    margin: 10px;
    padding: 5px;
    list-style: none;
    text-align: left;
  }
  
  .footer-info-section a,
  .footer-section a,
  .footer-home {
    color: #f5f5f5;
    text-decoration: none;
  }
  
  .footer-info-section a:hover,
  .footer-section a:hover,
  .footer-home:hover {
    text-decoration: underline;
  }
  
  .footer-image-container {
    text-align: center;
  }
  
  .footer-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .footer-home {
    color: #f5f5f5;
    text-decoration: none;
  }
  
  .footer-home:hover {
    text-decoration: underline;
  }
  
  /* Mobile View */
  @media (max-width: 768px) {
    .footer-info,
    .footer-links {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-info-section,
    .footer-section {
      margin: 10px 0;
    }
  
    .footer-info-section address p,
    .footer-info-section ul li,
    .footer-section ul li {
      margin: 5px 0;
    }
  }
  
  @media (max-width: 480px) {
    .footer-container {
      padding: 10px;
    }
  
    .footer-info,
    .footer-links {
      padding: 0;
    }
  
    .footer-info-section h3,
    .footer-section h3 {
      font-size: 1.2rem;
    }
  
    .footer-info-section p,
    .footer-info-section a,
    .footer-section a {
      font-size: 0.9rem;
    }
  
    .footer-image {
      max-width: 100%;
      height: auto;
    }
  }
  